version: '3.8'
services:
  clinicalx_main:
    image: lorkorblaq/clinicalx_main:latest
    ports:
      - "8080:8080"
    networks:
      - clinicalx_network
    restart: always
  
  clinicalx_api:
    image: lorkorblaq/clinicalx_api:latest
    ports:
      - "3000:3000"
    networks:
      - clinicalx_network
    restart: always
  
  # clinicalx_nginx:
  #   image: lorkorblaq/clinicalx_nginx:latest
  #   depends_on:
  #     - clinicalx_main
  #     - clinicalx_api
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   networks:
  #     - clinicalx_network
  #   volumes:
  #       - /etc/letsencrypt:/etc/letsencrypt
  #       - /etc/nginx:/etc/nginx
  #   restart: always

  clinicalx_nginx:
    # image: lorkorblaq/clinicalx_nginx:latest
    image: nginx:latest
    depends_on:
      - clinicalx_main
      - clinicalx_api
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /clinicalx_nginx.conf:/etc/nginx/nginx.conf.d
    networks:
      - clinicalx_network
    restart: always

networks:
  clinicalx_network:
    driver: bridge